.env
*.env
.env.local
.env.production
.env.development

__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/
*.log

node_modules/
fronted/node_modules/
dist/
build/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

postgres_data/
*.db
*.sqlite3

.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln